body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(coolbgkinoidea.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav {
    padding: 30px;
    background-color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: rgb(29, 32, 223);
    transition: all .5s ease-in-out;
}

.link:hover {
    color: orange;
}

.op {
    color: rgb(29, 32, 223);
    background-color: white;
}

.categories {
    background-color:rgb(29, 32, 223);
    color: white;
    border: none;
    padding: 10px;
}

.bigger {
    font-size: 45px;
}

.input-field {
    display: flex;
}

#search {
    flex: 1;
    background-color: white;
    color: rgb(29, 32, 223);
    border: 3px solid rgb(29, 32, 223);
    margin: 10px;
    padding: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
}

.anime-name {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.view-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(29, 32, 223);
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    transition: all .5s ease-in;
    font-size: 20px;
}

.view-more-btn:hover {
    color: white;
    background-color: rgb(29, 32, 223);
}